#results-page-wrapper {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
}

#results-header {
  font-size: 50px;
  letter-spacing: 2px;
  font-family: 'Lobster', cursive;
  margin-left: 10px;
}

.divider {
  height: 5px;
  background: #777;
}

#trip-info-wrapper {
  background-color: rgb(133, 167, 187, 0.65);
  border-radius: 10px;
  padding: 10px;
  margin: 20px 5px;
}

.trip-info-section {
  text-align: center;
}

.hotel-list {
  margin-top: 57px;
}
